<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yf.toolchanging" >

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--后期采用开始可以先 直接进入程序 浏览相关程序   设备 或者 工单信息， 但是进行扫描生产时需强制扫描工号
              现在主工程为空    直接启用用户中心登录   登录后进入 相应功能模块
           -->

        <!--<activity android:name="com.yf.usercenter.ui.activity.LoginActivity">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->

        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        <!--</activity>-->

        <activity android:name="com.yf.milling.ui.activity.UploadDataActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
    </application>
</manifest>